.properties{
    
    
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 35px 0px 210px;
}
.propertylist{

    gap: 30px;



}
.primg{
    width: 100%;
    height: 250px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
}
.propertytitle{
    font-size: 25px;
    font-weight: 100px;
}