.features{
    
    display: flex;
    margin: 50px 30px 40px 250px;
    justify-content: space-between;
    gap:20px;
    text-align:center


}
.featureitems{
    width: 100%;
    max-width: 1024px;
    gap: 10px;
    margin: 0px 50px 100px 0px ;
    overflow: hidden;


}
.fimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 10px;
}
.featuredtitles{
    position: absolute;
    margin: 0px 50px 100px 0px ;
}